* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #0D2436;
  margin-left: 10vw;
  margin-right: 10vw;
  color: #ffffff;
}

button {
  background-color: #0D2436;
  color: #ffffff;
  width: 10vw;
  height: 4vh;
  border-radius: 12px;
  font-size: 1.4vw;
  box-shadow: 0 10px 20px -8px rgb(0 0 0 / 70%);
}

button:hover {
  color: #CCCCCC;
  cursor: pointer;
}